/*  your css code here. If applicable */
.container{

    color: purple;
    background-color: lightblue;
    font-size: 10px;
    text-align: center;
    padding: 100px;
    border: 2px solid black;
	display: inline-block;
}