/*  your css code here. If applicable */
.container{
item {
    color: purple;
    background-color: lightblue;
    font-size: 10px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
	display: inline-block;
}
}